/*

# Основные файлы проекта
!pom.xml
!README.md
!.gitignore
!*.png       # Разрешаем все PNG в корне
!*.jpg
!*.jpeg

# Исходный код
!src/

# Исключения для изображений в src
!src/**/*.png
!src/**/*.jpg
!src/**/*.jpeg

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Конфиденциальные данные
config.env
*.env

# Минимальные настройки IDE
!.idea/vcs.xml
!.idea/codeStyles/
!.classpath
!.project